.row{
    margin: 10px 0px 10px 50px;
}

.table-responsive{
    padding-right: 50px;
}

#footer{
    bottom: 0;
    margin-bottom: 0%;
    width: 100%;
    position: fixed;
}

#conteneurFooter{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #858585;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th{
    text-align: center;
}